<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.infrastructure.lib">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:supportsRtl="true">

        <activity
            android:name="cn.infrastructure.utils.recovery.core.RecoveryActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:process=":recover"
            android:screenOrientation="portrait"
            android:theme="@style/RecoveryTheme.NoActionBar">
        </activity>

        <service
            android:name="cn.infrastructure.utils.recovery.core.RecoveryService"
            android:enabled="true"
            android:exported="false"
            android:process=":recover">
        </service>

    </application>

</manifest>
